In [110]:
#dependencies and setup

import pandas as pd

# file to load
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

Player Count:
Display the total number of players

In [126]:
#Count the total number of unique player IDs in row[1]

total_players = purchase_data['SN'].nunique() #gives simple count of the unique values (ie individual players) in SN column.

#Display as basic table

total_players_df = pd.DataFrame({'Total_Players': total_players}, index = [0])
total_players_df

   Total_Players
0            576

   Total_Players
0            576

Purchasing Analysis (Total):
 
Run basic calculations to obtain number of unique items, average price, etc.

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting

Display the summary data frame

In [113]:
#Calculate the number of unique items

Num_Unique_Items = (purchase_data['Item Name'].nunique())

#Calculate the total value of all purchases
Total_Revenue = (purchase_data['Price'].sum())

#Calculate the average price of all purchases
Average_Price = (purchase_data['Price'].mean())

#Count the number of purchases in total
Num_Purchases = (purchase_data['Price'].count())

In [130]:
#Add the values to a dictionary
summary_dict = {'Number_Unique_Items':Num_Unique_Items,
                'Number_of_Purchases':Num_Purchases, 
                'Total_Revenue':Total_Revenue, 
                'Average_Price':Average_Price}

#Use the dictionary to make a summary dataframe
summary_df = pd.DataFrame(summary_dict, index=[0])

#Format the columns which return dollar values
summary_df["Total_Revenue"] = summary_df["Total_Revenue"].map("${:.2f}".format)
summary_df["Average_Price"] = summary_df["Average_Price"].map("${:.2f}".format)
summary_df

   Number_Unique_Items  Number_of_Purchases Total_Revenue Average_Price
0                  179                  780      $2379.77         $3.05

 Gender Demographics:
 
Percentage and Count of Male Players

Percentage and Count of Female Players

Percentage and Count of Other / Non-Disclosed

In [131]:
#Use grouping to group purchases by gender demographics, and count the number of players in each
unique_players_df = purchase_data.groupby(['Gender']).nunique()

#Pull the total number of players from previous calculations
total_players

#Count how many players there are for each gender
count_of_each_gender = unique_players_df['SN']

#Calculate the gender percentage of total players
gender_percentage = (unique_players_df['SN']/total_players)

#Add these values to a dictionary, and add formatting for percentage
gender_summary_dict = {"Percentage_of_Players": gender_percentage.map('{:.2%}'.format),
                       "Player_Count": count_of_each_gender}

#Use the dictionary to create a dataframe
gender_demorgraphics_df = pd.DataFrame(gender_summary_dict, columns= ["Percentage_of_Players", "Player_Count"])

#For styling, sort the columns by highest percentage of players
gender_demorgraphics_df.sort_values(["Percentage_of_Players"], ascending=False)

                      Percentage_of_Players  Player_Count
Gender
Male                                 84.03%           484
Female                               14.06%            81
Other / Non-Disclosed                 1.91%            11

Purchasing Analysis (Gender)
 
Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting

Display the summary data frame

In [116]:
#For ease of reading, re-group total purchase data by gender
gender_analysis = purchase_data.groupby(['Gender'])

#Count the total number of purchases per gender
gender_purchase_count = gender_analysis["Item ID"].count()

#Sum the total value of the purchases
gender_total_purchases = gender_analysis["Price"].sum()

#Find the average purcahses price for each gender
gender_avg_purchase = gender_analysis["Price"].mean()

#Calculate the average spend per person, per gender
gender_avg_per_person = gender_total_purchases/count_of_each_gender

#Add this data to a dataframe
gender_analysis_df = pd.DataFrame({ "Purchase_Count":gender_purchase_count,
                                   "Total_Purchase_Value":gender_total_purchases,
                                   "Average_Purchace_Price":gender_avg_purchase,
                                   "Average_Spend_Per_Person":gender_avg_per_person})

#Format the dataframe for columns which return dollar values
formatting_gender_analysis_df = gender_analysis_df.style.format({"Total_Purchase_Value":"${:,.2f}",
                                "Average_Purchace_Price":"${:,.2f}",
                                "Average_Spend_Per_Person":"${:,.2f}"})

#Display the dataframe
formatting_gender_analysis_df

Age Demographics
 
Establish bins for ages

Categorize the existing players using the age bins. Hint: use pd.cut()

Calculate the numbers and percentages by age group

Create a summary data frame to hold the results

Optional: round the percentage column to two decimal points

Display Age Demographics Table

In [132]:
#Create bins to sort age groups
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99.9]

#Create age groups titles for bins
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "Over 40"]

#Filter data in to bins
purchase_data["Age Demographics Summary"] = pd.cut(purchase_data["Age"], bins, labels=age_groups, include_lowest=False)

In [142]:
#Create a data frame variable to sort data in to Age Group Demographics
age_grouped_df = purchase_data.groupby("Age Demographics Summary")

#Count the number of players in each age group
age_group_count = age_grouped_df["SN"].nunique()

#Calculate the percentage of players in each age group
age_group_percentage = age_group_count/total_players

#Use the variables to create a data frame of age group demographics
age_demographics_df = pd.DataFrame({"Percentage_of_Players": age_group_percentage.map('{:.2%}'.format), 
                  "Player_Count": age_group_count})
age_demographics_df

                         Percentage_of_Players  Player_Count
Age Demographics Summary
<10                                      2.95%            17
10-14                                    3.82%            22
15-19                                   18.58%           107
20-24                                   44.79%           258
25-29                                   13.37%            77
30-34                                    9.03%            52
35-39                                    5.38%            31
Over 40                                  2.08%            12

Purchasing Analysis (Age)
 
Bin the purchase_data data frame by age

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting

Display the summary data frame

In [143]:

#Use the grouped age groups to find the average price of purchases
avg_price = age_grouped_df["Price"].mean()

#Count the number of purchases for each age group
purchase_count_age = age_grouped_df["Price"].count()

#Total the prices of purchases in each group
total_per_age = age_grouped_df["Price"].sum()

#Find the average spend per person
avg_per_person = total_per_age/age_group_count

#Use the calculated variables to create a data frame
age_demo_analysis_df = pd.DataFrame({"Avergae_Purchase_Price":avg_price,
                                     "Average_Purchase_Per_Person" :avg_per_person,
                                    "Total_Purchase_Count" : purchase_count_age,
                                    "Total_Purchase_Value" : total_per_age})

#Format data frame for variables that return dollar values
age_demo_analysis_df.style.format({"Avergae_Purchase_Price":"${:,.2f}", 
                                 "Total_Purchase_Value":"${:,.2f}",
                                 "Average_Purchase_Per_Person":"${:,.2f}"})

Top Spenders
 
Run basic calculations to obtain the results in the table below

Create a summary data frame to hold the results

Sort the total purchase value column in descending order

Optional: give the displayed data cleaner formatting

Display a preview of the summary data frame

In [135]:
#Create a variable for data grouped by player ID "SN"
top_spenders = purchase_data.groupby(["SN"])

#For each player, sum their total spending
total_spending = top_spenders["Price"].sum()

#Calculate the total number of purchases for each player
purchase_count_bySN = top_spenders["Purchase ID"].count()

#Calculate the average spend of each player
avg_spend = top_spenders["Price"].mean()

#Use the variables to create a data frame
top_spenders_df = pd.DataFrame({ "Total Purchase Count": purchase_count_bySN,
                                "Total Spending": total_spending,
                                "Average Purchase Price": avg_spend})

#Sort data frame to show top five spenders, before formatting is applied
for_formatting_spenders = top_spenders_df.sort_values(["Total Spending"], ascending=False).head()

#Format data frame for variables that return dollar values
for_formatting_spenders.style.format({"Total Spending":"${:,.2f}",
                                      "Average Purchase Price":"${:,.2f}"})

Most Popular Items
 
Retrieve the Item ID, Item Name, and Item Price columns

Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value

Create a summary data frame to hold the results

Sort the purchase count column in descending order

Optional: give the displayed data cleaner formatting

Display a preview of the summary data frame

In [123]:
#Create data frame variable to show only Item ID, Item Name and Item Price columns
popular_df = purchase_data.iloc[:, 4:7]

#Group data frame by Item ID and Item Name
item_count_df = popular_df.groupby(["Item ID", "Item Name"])

#Tally purchase count
purchase_count = item_count_df["Price"].count()

#Sum the total sales value of each item
total_purchase_value = item_count_df["Price"].sum()

#Create variable for the price of each item
item_price = total_purchase_value/purchase_count

#Store variables in a data frame
popular_items_df = pd.DataFrame({ "Purchase_Count":purchase_count, 
                      "Total_Purchase_Value":total_purchase_value, 
                      "Item Price":item_price})

#Sort data frame to show top five items by sales number
for_formatting_popular = popular_items_df.sort_values(["Purchase_Count"], ascending=False).head()

#Format data frame for variables that return dollar values
for_formatting_popular.style.format({"Total_Purchase_Value":"${:,.2f}",
                                "Item Price":"${:,.2f}"})

Most Profitable Items
 
Sort the above table by total purchase value in descending order

Optional: give the displayed data cleaner formatting

Display a preview of the data frame

In [124]:
#Sort previous data frame by "Total_Purchase_Value"
for_formatting_popular.sort_values(["Total_Purchase_Value"], ascending=False).head()

#Format data frame for variables that return dollar values
for_formatting_popular.style.format({"Total_Purchase_Value":"${:,.2f}",
                                    "Item Price":"${:,.2f}"})